*, :before, :after {
    @extend %box-sizing--border;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body {
    background: $page-body-color;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: $base-font;
    font-size: $base-font-size;
    font-weight: 400;
    color: $color-text;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    color: $color-link;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2.0rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
}